include ../components/button

mixin showcase-item(title, image, size, price)
  article.showcase-item
    div.showcase-item__container
      div.showcase-item__side.showcase-item__front
        img.showcase-item__image(src=image, alt=title)
        div.showcase-item__content
          h3.showcase-item__title= title
          span #{numeral(size).format('0[.]0')} M²
          p
            | Pris #{numeral(price).format('0,0.00')} kr #[br]
            | Prisen er excl. montage
      div.showcase-item__side.showcase-item__back
        h3.showcase-item__title.showcase-item__title--light= title
        block
        +button("#", "showcase-item__buy-button") Bestil

mixin showcase()
  section.showcase
    div.showcase__item-container
      +showcase-item(
      "Træhus",
      "img/5m2-traehus2.jpg",
      5,
      53200.00
      )
        p
          | Solitudo de audax adiurator, amor plasmator! Cum turpis crescere, omnes nixuses manifestum fidelis,
          | domesticus resistentiaes. Superbus impositio interdum imperiums apolloniates est.
      +showcase-item(
      "Fritidshus",
      "img/28m2-fritidshus2.jpg",
      28,
      42000.00
      )
        p
          | Solitudo de audax adiurator, amor plasmator! Cum turpis crescere, omnes nixuses manifestum fidelis,
          | domesticus resistentiaes. Superbus impositio interdum imperiums apolloniates est.
      +showcase-item(
      "Pavillion",
      "img/9m2-pavillion2.jpg",
      9.5,
      49900.00
      )
        p
          | Solitudo de audax adiurator, amor plasmator! Cum turpis crescere, omnes nixuses manifestum fidelis,
          | domesticus resistentiaes. Superbus impositio interdum imperiums apolloniates est.
  section.show-more.arrow
    +button Se vores store udvalg af små træ huse
